In [23]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt 
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [24]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [25]:
data = pd.read_csv('/content/drive/MyDrive/01Training/Data/Data/spam.csv', encoding = 'latin-1')

In [26]:
data.head(10)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
5,spam,FreeMsg Hey there darling it's been 3 week's n...,NaN,NaN,NaN
6,ham,Even my brother is not like to speak with me. ...,NaN,NaN,NaN
7,ham,As per your request 'Melle Melle (Oru Minnamin...,NaN,NaN,NaN
8,spam,WINNER!! As a valued network customer you have...,NaN,NaN,NaN
9,spam,Had your mobile 11 months or more? U R entitle...,NaN,NaN,NaN

In [27]:
data.shape

(5572, 5)

In [28]:
data['label'] = data['v1']
data['message'] = data['v2']

In [29]:
data =data[['label', 'message']]

In [30]:
x = np.array(data['message'])
y = np.array(data['label'])

In [31]:
cv = CountVectorizer()
x = cv.fit_transform(x)

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = .25, random_state = 222)

In [32]:
bayes = MultinomialNB()
bayes.fit(x_train, y_train)

MultinomialNB()

In [33]:
print('Check if your Message is SPAM or HAM')
message = input('Input Message: ')
data = cv.transform([message]).toarray()
print('This message is classified as ', *bayes.predict(data), '.', sep='')

Check if your Message is SPAM or HAM
Input Message: We got a free prize for you!
This message is classified as spam.